/* THIS IS THE ONE I'M REWORKING */

body h3 h1 header {
  margin: 0;
}

h3 {
  color: #000;
}

body {
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

li a {
  margin-bottom: 10px;
  color: #69696a;
  text-decoration: none;
  display: flex;
}

/* I could have just reused this tag instead of renaming and copying */
/* I could have used display:block to stretch the background across the page */
.accent a {
  color: #fff;
  background-color: #000;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lorem-text {
  color: #69696a;
  border-left: 3px solid #69696a;
  margin-left: 10px;
  padding-left: 10px;
}

h1 {
  color: #000;
}

.call-to-action {
  color: #fff;
  background-color: #000;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 100px;
}

/* flex-direction: row was redundant. I should have used align-items:center */
/* justify-content:space between would have spaced the elements apart */
footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(247, 193, 162, 0.7);
  width: 100%;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  position: absolute;
  right: 10px;
}

.footer-text {
  color: #000;
  margin: 10px;
}

.footer-list a {
  margin: 0px 10px;
  text-decoration: none;
  color: #69696a;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  li a {
    margin: 10px;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  .text-section {
    width: 50%;
  }

  .large-circle {
    border: 1px solid rgba(247, 136, 167, 0.6);
    width: 150px;
    height: 150px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 100%;
    position: absolute;
    right: 90px;
  }

  .medium-circle {
    border: 1px solid rgba(247, 193, 162, 0.7);
    width: 125px;
    height: 125px;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 100%;
    position: relative;
    top: 75px;
  }

  .small-circle {
    border: 1px solid rgba(207, 130, 213, 0.6);
    width: 100px;
    height: 100px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 100%;
    position: relative;
    right: -10px;
    bottom: 110px;
  }
}
